{% extends 'mails/mail-layout.html.twig' %}

{% block content %}
    <div>
        <h2>
            Prośba o zmianę hasła
        </h2>
        <p>
            Witaj {{ email.toName }}!
            <br>
            <br>
            Dla twojego konta wygenerowano prośbę o zmianę hasła.
            <br>
            Aby zmienić hasło kliknij <a href="{{ resetUrl }}">[tutaj]</a>.
            <br>
            <br>
            Jeżeli to nie Ty wygenerowałeś prośbę o zmianę hasła zignoruj tę wiadomość.
        </p>
    </div>
{% endblock %}