<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="{{ path('index') }}">Poznański Klub Modelarzy Kolejowych</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Wykonanie</b> <a href="https://ppoz21.pl">Paweł Palacz</a>
    </div>
</footer>